---
season: 1
overallNumber: 0
seasonEpisodeNumber: 1
session:
  type:
    isAnother: false
    isR18: false
    isR18G: false
    isDeleted: false
  storyDate: "2026.01.01"
  timelineCast: ""
  cast: ["染谷千冬", "染谷千秋"]
scenario:
  title: "Episode title"
  description: |-
    Episode description.
  author: ""
  distributionName: ""
  distributionUrl: ""
  isAdapted: false
  adaptedScenarioUrl: ""
custom:
  showSmallTitle: false
  isCompactDescription: false
---